html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.menu {
	font-family: "Times New Roman", Monotype Corsiva;
	font-style: italic;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin: 0%;
	padding-left: 750px;
	padding-top: 20px;
}

.menu li {
	list-style-type: none;

}
.menu a {
	color: rgb(255, 255, 255);
}
.container {
	width: 80%;
	margin: 0px auto;
	background: #f8f8f8;
}
h2 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background:  #eaeaea;
}
.catalog {
	color:#707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
p {
	color:#484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.cat {
	color:#700762;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	font-style: italic;
	letter-spacing: 1px;
	list-style-image: url("images/cat.png");
}
.contacts {
	width: fit-content;
}
.contacts input {
	width: 400px;
	height: 20px;
	color: rgb(61, 55, 61);
	font-style: italic;
	font-size: 15px;
	text-transform: capitalize;
}
.border {
	color:#d64f56;
	border-style: double;
	border-width: 30px;
}
.menu a:hover {
	color: rgb(87, 53, 63);
}
.header {
	position: relative;
	z-index: 100;
	font-size: 20pt;
	font-weight: bold;
	height: 100px;
	background-image: url("images/fon.png");
	background-size: 3500px;
}
.logo {
	display: block;
	float: left;
	margin-right: 10px;
	height: 50px;
	left: 100px;
	padding-top: 25px;
	padding-left: 25px;
}
.footer {
	text-align: right;
	background-image: url("images/fon.png");
	background-size: 3500px;
	height: 50px;
	margin: 0px;
	padding: 25px;
	font-style: bold;
	color: white;
}
.contacts input:focus {
	background:  rgb(250, 179, 191);
}
table {
	border: 1px solid #000;
	border-collapse: collapse;

}
td {
	border: 1px solid #000;
	vertical-align: top;
	text-align: center;
}
th {
	border: 1px solid #000;
	vertical-align: top;
	text-align: center;
	width: 80px;
	height: 30px
}
.catalog::first-letter {
	font-size: 20pt;
	color:  rgb(121, 7, 121);
}
.border:hover{
	border-color: transparent;
}